<suite name="BisisSuite" parallel="instances">
    <test name="bisis5.records">
        <classes>
            <class name="bisis5.records.RecordTest"/>
        </classes>
    </test>
    <test name="storage">
        <classes>
            <class name="bisis5.storage.UserStorageTest"/>
            <class name="bisis5.storage.RecordStorageTest"/>
        </classes>
    </test>
    <test name="webservice">
        <classes>
            <class name="bisis5.webservice.RecordsTest"/>
            <class name="bisis5.webservice.PrimerciTest"/>
        </classes>
    </test>
    <test name="webclient">
        <classes>
            <class name="bisis5.webclient.RecordsClientTest"/>
        </classes>
    </test>
</suite>